doctype html
html
    head
        meta(charset="utf-8")
        title DEMO: Capture left and Recover right
        link(rel="stylesheet" href="index.css")
    body
        div.everything
            iframe.old(src="http://www.12306.cn")
            iframe.new(src="blank.html")

        script(src="../../bower_components/requirejs/require.js")
        script(src="../base/config.js")
        script.
            require(['demo/capture-recover/index'])



