doctype html
html
    head
        meta(charset="utf-8")
        title DEMO: Capture and Recover
        link(rel="stylesheet" href="index.css")
    body
        div.everything
            iframe.old(src="old/index.html")
            iframe.new(src="new/index.html")

        script(src="../../bower_components/requirejs/require.js")
        script(src="../base/config.js")
        script.
            require(['demo/capture-recover/index'])



