link(rel="stylesheet" href="index.css")
script(src="../../bower_components/requirejs/require.js")
script(src="../compare/config.js")
script.
    require(['bower_components/underscore/underscore', 'demo/recover/index'], function (_, index) {
        index.init()
    })
